<ng-container *ngIf="open">
  <div class="cs-dialog__backdrop" (click)="close('backdrop')">
    <div class="cs-dialog" (click)="stopPropagation($event)">
      <header class="cs-dialog__header" *ngIf="title || true">
        <h2 class="cs-dialog__title" *ngIf="title">{{ title }}</h2>
        <cs-icon-button
          ariaLabel="Close dialog"
          variant="ghost"
          (click)="close('close')"
        >
          ✕
        </cs-icon-button>
      </header>

      <section class="cs-dialog__content">
        <ng-content />
      </section>

      <footer class="cs-dialog__actions">
        <ng-content select="[csDialogActions]" />
      </footer>
    </div>
  </div>
</ng-container>
