<div class="cs-dropdown">
  <button
    class="cs-dropdown__trigger"
    type="button"
    (click)="toggle()"
    [class.cs-dropdown__trigger--open]="open"
  >
    <span>{{ triggerLabel }}</span>
    <svg class="cs-dropdown__chevron" width="16" height="16" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M6.293 9.293a1 1 0 0 1 1.414 0L12 13.586l4.293-4.293a1 1 0 1 1 1.414 1.414l-5 5a1 1 0 0 1-1.414 0l-5-5a1 1 0 0 1 0-1.414Z" fill="currentColor" />
    </svg>
  </button>

  <ul
    class="cs-dropdown__menu"
    [class.cs-dropdown__menu--open]="open"
    [class.cs-dropdown__menu--end]="alignment === 'end'"
  >
    <li
      class="cs-dropdown__item"
      *ngFor="let item of items"
      [class.cs-dropdown__item--disabled]="item.disabled"
    >
      <button type="button" (click)="select(item)" [disabled]="item.disabled">
        <span class="cs-dropdown__item-icon" *ngIf="item.icon">{{ item.icon }}</span>
        <span>{{ item.label }}</span>
      </button>
    </li>
  </ul>
</div>
