<cs-form-field
  [label]="label"
  [required]="required"
  [hint]="hint"
  [error]="errorMessage"
  [disabled]="disabled"
>
  <div class="cs-search-input">
    <span class="cs-search-input__icon" aria-hidden="true">
      <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M11 4a7 7 0 1 1 0 14 7 7 0 0 1 0-14Zm0 2a5 5 0 1 0 0 10 5 5 0 0 0 0-10Zm6.707 9.293 3 3a1 1 0 0 1-1.414 1.414l-3-3 1.414-1.414Z"
          fill="currentColor"
        />
      </svg>
    </span>

    <input
      class="cs-search-input__native"
      type="search"
      [attr.id]="controlId"
      [attr.name]="name"
      [attr.placeholder]="placeholder"
      [attr.autocomplete]="autocomplete"
      [disabled]="disabled"
      [value]="value"
      (input)="handleInput($any($event.target).value)"
      (blur)="handleBlur()"
    />

    <button
      type="button"
      class="cs-search-input__clear"
      *ngIf="value"
      (click)="clear()"
      [disabled]="disabled"
      aria-label="Clear search"
    >
      ×
    </button>
  </div>
</cs-form-field>
