<div class="cs-popover">
  <span class="cs-popover__trigger" (click)="toggle()">
    <ng-content select="[csPopoverTrigger]" />
  </span>

  <div
    class="cs-popover__panel"
    *ngIf="open"
    [class.cs-popover__panel--top]="placement === 'top'"
    [class.cs-popover__panel--left]="placement === 'left'"
    [class.cs-popover__panel--right]="placement === 'right'"
  >
    <header class="cs-popover__header" *ngIf="title">
      <h4>{{ title }}</h4>
    </header>

    <div class="cs-popover__content">
      <ng-content select="[csPopoverContent]" />
    </div>

    <footer class="cs-popover__actions">
      <ng-content select="[csPopoverActions]" />
    </footer>
  </div>
</div>
