<ng-container *ngIf="open">
  <div
    class="cs-drawer__backdrop"
    [class.cs-drawer__backdrop--left]="position === 'left'"
    (click)="close('backdrop')"
  >
    <aside
      class="cs-drawer"
      [class.cs-drawer--left]="position === 'left'"
      (click)="stopPropagation($event)"
    >
      <header class="cs-drawer__header">
        <h2 class="cs-drawer__title" *ngIf="title">{{ title }}</h2>
        <cs-icon-button ariaLabel="Close drawer" (click)="close('close')">✕</cs-icon-button>
      </header>

      <section class="cs-drawer__content">
        <ng-content />
      </section>

      <footer class="cs-drawer__actions">
        <ng-content select="[csDrawerActions]" />
      </footer>
    </aside>
  </div>
</ng-container>
