<label class="cs-switch" [attr.for]="controlId">
  <input
    class="cs-switch__native"
    type="checkbox"
    role="switch"
    [attr.id]="controlId"
    [attr.name]="name"
    [checked]="value"
    [disabled]="disabled"
    (change)="handleChange($event.target.checked)"
    (blur)="handleBlur()"
  />
  <span class="cs-switch__track">
    <span class="cs-switch__thumb"></span>
  </span>

  <span class="cs-switch__label">
    <span>{{ label }}</span>
    <small *ngIf="hint">{{ hint }}</small>
  </span>
</label>
